<ion-header color="primary">
  <ion-toolbar color="primary">
    <ion-label>Chez Awa</ion-label>
    <ion-title class="ion-text-center">
      Plats du jour
    </ion-title>
  </ion-toolbar>
  <ion-searchbar></ion-searchbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let plat of plats">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-avatar item-start>
            <!--<img [src]="'http://localhost:1337'+plat.image[0].url">-->

          </ion-avatar>

          <ion-grid>

            <ion-label>{{plat.nom}}</ion-label>
            <ion-label>{{plat.prix}} fcfa  </ion-label>

          </ion-grid>

          <ion-icon  name="create" (click)="update(plat.id)">Editer</ion-icon>
          <ion-icon name="trash" color="danger"  (click)="delete(plat.id)">Supprimer</ion-icon>
        </ion-item>
      </ion-card-content> 
    </ion-card>


  </ion-list>
  <ion-fab slot="fixed" vertical= "bottom" horizontal ="end" routerLink ="/tabs/plat/ajouter">
  <ion-fab-button>
    <ion-icon name ="add" ></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>