<ion-header>
  <ion-toolbar>
    <ion-title>modifier menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #menu="ngForm" (ngSubmit) = "update(menu.value)">
    <div>
    
      <ion-label>titre :</ion-label>
      <ion-input type="text" name="titre" value="{{menus.titre}}" ngModel></ion-input>
    
  </div>
  <div>
    
    <ion-label>date :</ion-label>
    <ion-datetime value="{{menus.jour}}" name="jour" ngModel></ion-datetime>
</div>
  <div>
    
    <ion-label>plats :</ion-label>
    <ion-select name="plats" value="{{plats_id}}"  ngModel placeholder="selectionner les plats de votre menu"  multiple okText="valider" cancelText=""  >
      <ion-select-option value="{{plat.id}}" *ngFor="let plat of plats" [selected] = "true"  >{{plat.nom }}</ion-select-option>
    </ion-select>
  
</div>
  <div>
    <ion-button type="submit" block>modifier le menu</ion-button>
  </div>
  </form>
  
</ion-content>




