<ion-header>
  <ion-toolbar>
    <ion-title>newPassword</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #password="ngForm" (ngSubmit) = "newPassword(password.value)">
    <ion-list>
      <ion-item>
      <ion-label position="stacked">Nouveau mot de passe</ion-label>
      <ion-input type="password" name="password" ngModel></ion-input>
      </ion-item>
      <ion-item>
      <ion-label position="stacked">confirmer</ion-label>
      <ion-input name="passwordConfirm" ngModel type="password"></ion-input>
      </ion-item>
      </ion-list>
      <ion-button type="submit" expand="full">Valider</ion-button>

  </form>
  
</ion-content>
